<div id="new-registration" class="full-screen">
  <div class="header center d-flex">
    <%= link_to splash_index_path, class: "absolute-start white-color" do %>
      <span class="material-symbols-outlined">
        arrow_left_alt
      </span>
    <% end %>
    <h2>Change your password</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password,
                  placeholder: "New password - #{@minimum_password_length} char. min.",
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "new-password", class: "input-field" } %>
      <%= f.input :password_confirmation,
                  placeholder: "Confirm new password",
                  label: false,
                  required: true,
                  input_html: { autocomplete: "new-password", class: "input-field" } %>
    </div>

    <div class="form-actions w-100 outline-white absolute-bottom">
      <%= f.button :submit, "Change my password", class: "btn-secondary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
